@font-face {
	font-family: "kid_font";
	src: url('BubblegumSans-Regular.ttf');
}

body {
    background-color: rgb(63, 132, 189);
    font-family: "kid_font", Helvetica, Arial, sans-serif;
    height: 100%;
    overflow: hidden;
}
h1 {
    color: white;
    font-size: 6ch;
}
#english_flag {
    width: 30%;
}

.cloud1 {
    width: 40%;
}
#main {
    background-image: url("https://media.giphy.com/media/4N1FZFE5AGO3qrUGkw/giphy.gif");
    background-size: cover;
    background-repeat: repeat-y;

    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;

    background-color: rgb(216, 235, 250);
    border-top: groove 4mm rgba(232, 170, 90, 0.6);
}
.theme {
    color: white;
    font-size: 3ch;
    
    text-decoration: none;
    border-radius: 100%;
    display: inline-block;
    line-height: 100px;
    background-color: rgb(228, 128, 34);

    width: 90%;
    height: 100%;
}

.theme img {
    width: 150px;
    height: 150px;
}